server:
  forward-headers-strategy: native

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  security:
    oauth2:
      client:
        registration:
          smbx-world:
            client-id: ${OAUTH2_CLIENT_ID}
            client-secret: ${OAUTH2_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            scope: "user.read"
            redirect-uri: "https://station.smbx.world/login/oauth2/code/{registrationId}"
        provider:
          smbx-world:
            authorization-uri: https://smbx.world/oauth/authorize
            token-uri: https://smbx.world/oauth/token
            user-info-uri: https://smbx.world/api/user
            user-name-attribute: username

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: ${SWAGGER_UI_ENABLED}
    path: /docs
    csrf:
      enabled: true
      cookie-name: "XSRF-TOKEN"

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.boot.autoconfigure.security.servlet: DEBUG
    org.springframework.boot.actuate.endpoint.web: DEBUG


worldstation:
  storage:
    s3:
      endpoint: ${S3_ENDPOINT}
      region: ${S3_REGION}
      bucket: ${S3_BUCKET}
      public-base-url: ${S3_PUBLIC_BASE_URL}
      path-style-access: ${S3_PATH_STYLE_ACCESS}
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
      session-token: ${S3_SESSION_TOKEN}
      worldmap-prefix: ${S3_WORLDMAP_PREFIX}
      picbed-prefix: ${S3_PICBED_PREFIX}
